In [3]:
import pandas as pd
from operator import add
from functools import reduce
coding={"subject":['python','java'],
       "amount":[1000,2000]}
df=pd.DataFrame(coding)
print(df)

  subject  amount
0  python    1000
1    java    2000

In [6]:
df['amount']=df['amount'].map(lambda x:x*2)
print(df)

  subject  amount
0  python    2000
1    java    4000

In [7]:
df2=df.filter(items=['subject'])
print(df2)
reduce(add,df.amount)

  subject
0  python
1    java

6000

In [17]:
import pandas as pd
df=pd.DataFrame([[9,4,8,9],
                [8,10,7,6],
                [7,6,8,5]])
columns=['maths','english','science','histery']
print(df)
df.agg(['sum','min','max','mean','std','count','size'])

   0   1  2  3
0  9   4  8  9
1  8  10  7  6
2  7   6  8  5

          0          1          2          3
sum    24.0  20.000000  23.000000  20.000000
min     7.0   4.000000   7.000000   5.000000
max     9.0  10.000000   8.000000   9.000000
mean    8.0   6.666667   7.666667   6.666667
std     1.0   3.055050   0.577350   2.081666
count   3.0   3.000000   3.000000   3.000000
size    3.0   3.000000   3.000000   3.000000